@tailwind base;
@tailwind components;
@tailwind utilities;

.title {
  position: relative;
}

.title::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: rgb(168, 205, 225);
  transition: width 0.3s ease-in-out;
  position: absolute;
  bottom: 0;
  left: 0;
}

.title:hover::after {
  width: 100%;
}

.shadow-bottom {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
